<form method="post" action="/Bank/Create">

    <label for="id"> Id:</label>
    <input type="text" id="id" name="Id" required />

    <label for="branchManager">Branch Manager:</label>
    <input type="text" id="branchManager" name="BranchManager" required />

    <label for="locationName">LocationName:</label>
    <input type="text" id="locationName" name="LocationName" required />

    <label for="locationURL">LocationURL:</label>
    <input type="url" id="locationURL" name="LocationURL" required />
    
    <label for="employeeCount">Employee Count:</label>
    <input type="text" id="employeeCount" name="EmployeeCount" required />

    <button type="submit">Submit</button>

</form>
